extends layout

block css
  
  link(rel='stylesheet', href='/stylesheets/mystyle.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/home.css')

block content
  include ./main
  div
    .margin-top-55
    //- each event in events
    .container
      h3.margin-bottom-25 진행중인 멘토링
      ul.event-list
        li.highlighted
          a(href='event-page.html')
            img(src='../images/avatar-placeholder.png', alt='main picture')
            .event-list-content
              h4
                | HTML은 나에게 맡겨라! FrontEnd의 끝판왕!
              .event-icons
                span
                  i.fa.fa-briefcase
                  |  조우준
                span
                  i.fa.fa-map-marker
                  |  명지대학교
                span
                  i.fa.fa-money
                  |  10 Ƀ / 건
                span
                  i.fa.fa-star-o
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
          .clearfix
        li
          a(href='event-page.html')
            img(src='../images/avatar-placeholder.png', alt='main picture')
            .event-list-content
              h4
                | HTML은 나에게 맡겨라! FrontEnd의 끝판왕!
              .event-icons
                span
                  i.fa.fa-briefcase
                  |  조우준
                span
                  i.fa.fa-map-marker
                  |  명지대학교
                span
                  i.fa.fa-money
                  |  10 Ƀ / 건
                span
                  i.fa.fa-star-o
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
          .clearfix
        li
          a(href='event-page.html')
            img(src='../images/avatar-placeholder.png', alt='main picture')
            .event-list-content
              h4
                | HTML은 나에게 맡겨라! FrontEnd의 끝판왕!
              .event-icons
                span
                  i.fa.fa-briefcase
                  |  조우준
                span
                  i.fa.fa-map-marker
                  |  명지대학교
                span
                  i.fa.fa-money
                  |  10 Ƀ / 건
                span
                  i.fa.fa-star-o
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
          .clearfix
        li
          a(href='event-page.html')
            img(src='../images/avatar-placeholder.png', alt='main picture')
            .event-list-content
              h4
                | HTML은 나에게 맡겨라! FrontEnd의 끝판왕!
              .event-icons
                span
                  i.fa.fa-briefcase
                  |  조우준
                span
                  i.fa.fa-map-marker
                  |  명지대학교
                span
                  i.fa.fa-money
                  |  10 Ƀ / 건
                span
                  i.fa.fa-star-o
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  
          .clearfix
        li
          a(href='event-page.html')
            img(src='../images/avatar-placeholder.png', alt='main picture')
            .event-list-content
              h4
                | HTML은 나에게 맡겨라! FrontEnd의 끝판왕!
              .event-icons
                span
                  i.fa.fa-briefcase
                  |  조우준
                span
                  i.fa.fa-map-marker
                  |  명지대학교
                span
                  i.fa.fa-money
                  |  10 Ƀ / 건
                span
                    i.fa.fa-star-o
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
          .clearfix
      a.button.centered(href='browse-events.html')
        i.fa.fa-plus-circle
        |  Show More events
      .margin-bottom-55