doctype html
html
  head
    title= MJmong
    // default
    link(rel='stylesheet', href='/stylesheets/layout.css')    
    // Bootstrap for pug 
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
    // BootstrapCDN font-awesome for pug 
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

    // default
    script(src="javascripts/layout.js")
    // Bootstrap for pug 
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')
    // lodash
    script(src='https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js')
    // jquery for pug
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    // ajax for pug
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
  body
    block top-nav
      include include/topnav
    block flash-massage-panel
      if flashMessage
        each text, type in flashMessage
          .container 
            .alert.alert-dismissible.fade.show(class=`alert-${type}`)
              each msg in text
                | #{msg} 
              button.close(type='button', data-dismiss='alert', aria-label='close')
                span(aria-hidden='true') &times;
    block css
    block content
    block footer
      include include/footer