nav.navbar.navbar-expand-lg.navbar-light.bg-white
  a.navbar-brand.logo(href='/') MJmong
  
  div.collapse.navbar-collapse.col-md-7.ml-auto
    ul.navbar-nav.mr-auto
      if(!currentUser)
        li.nav-item.active
          a.nav-link(href='/mentoing/toBeMento') 멘토가 찾으세요
        li.nav-item.active
          a.nav-link(href='/signup', data-toggle='modal', data-target='#signupModal') 
            | 회원가입
          include ../users/signup.pug
        li.nav-item.active
          a.nav-link(href='/signin', data-toggle='modal', data-target='#signinModal') 
            | 로그인
          include ../users/signin.pug
          include ../users/signup.pug
          include ../users/reset_pw.pug
      else
        li.nav-item.active
          a.nav-link(href='/mentoing') 
            | 전체 목록
        //- img(src='images/profile-default.png' style="width:10%;height:10%;padding:0;margin:0")
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href=`/users/${currentUser._id}`, data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') 
            | My page
          .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href=`/users/${currentUser._id}`) 프로필
            a.dropdown-item(href=`/users/${currentUser._id}/favorite`) 계정
            a.dropdown-item(href='/signout') 로그아웃