@import url('https://fonts.googleapis.com/css?family=Song+Myung:400');

div.carousel {
  display: none;
}

/* 이미지 부분 */
img.main_img{
  width:100%;
}

div.textBox{
  position: absolute;
  top: 3em;
  width: 12em;
  margin-left: 10%;
  padding: 1% 2.5% 2% 2.5%;
  
  z-index: 2;
  font-size: 40px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.98);
}

div.textBox  h1.title{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Song Myung', cursive;
  display: block;
  font-size: 1em;
  line-height: 46px;
  color: black
}

div.textBox  h2.subtitle{
  font-size: 0.5em;
  margin-bottom: 1em;
  line-height: 32px;
  color: black
}
div.textBox form{
  margin-bottom: 16px
}

div.textBox form div.input-box{
  padding-bottom: 3%;
}

div.input-box h4.input-label{
  font-family: 'Rancho', cursive;
  margin-bottom: 2%;
  font-size: 0.5em;
  display: block;
  line-height: 16px;
  color: black
}

input.form-control{
  font-size:16px
}


button.searchBtn{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width:100%;
  font-size: 0.4em;
}

/* 이미지 부분의 자동완성 부분 */
.suggest-box {
  position: absolute;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: rgb(242, 242, 242);
  width:85%;
}

.suggest-box li {
  padding: 0.4em 1em;
  cursor: pointer;
  list-style-type: none; 
  font-family: 'Black Han Sans';
  float:left;
  font-size: 0.5em;
  
}

.suggest-box li i{
  display: inline-block;
}

.suggest-box li p {
  display: inline-block;
  margin: 5px 0 0 0;
  padding-left: 10px;
	color: #666;
}

.select{
  display: inline-block;
  width:100%;
}

.suggest-box li:hover {
  background-color: gray; 
}

/* 로그인창 */
.modal-content .modal-body button{
  font-size: 16px;
}

.modal-content .modal-body a{
  font-size: 16px;
  display: inline-block;
}

.modal-content .modal-body a span{
  display: inline-block;
}
