@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple');

body{
  background-color: white
}

p{
  margin: auto;
}

nav.navbar-light{
  padding: 0px 0px;
  border-bottom: 1px solid lightgray;
}

a.logo {
  font-family: 'Rancho', cursive;
  font-size: 30px;
  padding-left:5px;
}

div.collapse > ul.mr-auto{
  margin-right: 0 !important;
  margin-left: auto;
}

a.nav-link{
  margin-left: 10px !important;
}

.footer{
  border-top: 0.4em solid rgb(131, 119, 119);
  background-color: #282c35;
  color: white;
  margin-top: 5%;
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
}
