//- dialog
#signinModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h3.modal-title 로그인
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        form(action='/auth/signin', method='POST')
          .form-group
            label 이메일
            input.form-control(type='email', aria-describedby='emailHelp', placeholder='이메일', name='email', required, autofocus)
          .form-group
            label 비밀번호
            input.form-control(type='password', name='password', placeholder='비밀번호', required, autofocus)
          button.btn.btn-primary.plain.float-left-align(type='submit') 로그인
          a.btn.blue.float-left-align(href='/auth/facebook')
            img(src='../../images/fb-logo.png', alt='First slide' style="width:5%")
            |  Facebook
          a.btn.yellow.float-left-align(href='/auth/kakaotalk')
            img(src='../../images/kakao-logo.png', alt='First slide' style="width:5%")
            |  Kakaotalk
      .modal-footer
        a.reset-password(href='/reset_pw', data-toggle='modal', data-target='#resetPWModal') 비밀번호 초기화