script(src='https://cdn.ckeditor.com/ckeditor5/12.1.0/classic/ckeditor.js')

p.create-title Event Details
.form-group
  label(for='title') EVENT TITLE *
  input#title.form-control(type='text' name='title' placeholder='What is your lecture title?')
.form-group
  label(for='event-description') EVENT DESCRIPTION *
  //- textarea#mytextarea.form-control(rows='7' name='event_description')
  textarea#editor.form-control(name='event_description')
    | 
  script.
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );

.form-group
  label(for='university') LOCATION *
  input.form-control(type='university' name='university' id='university' placeholder='Which university will you do your lecture?' aria-label='university')
  ul.university-suggest-box.suggest-box
.form-group
  label(for='price') PRICE *
  input#title.form-control(type='price' name='price' placeholder='How much is your lecture?')
p.create-title Additional Setting
.form-group
  label(for='event-type') EVENT TYPE *
  select.form-control(name='event_type' id='event_type' onchange="itemChange()")
    option(value='' selected disabled) Select the type of event
    option(value='Design') 디자인
    option(value='Programming') IT·프로그래밍
    option(value='Contents') 콘텐츠 제작
    option(value='Marketing') 마케팅
    option(value='Tanslation') 번역·통역
    option(value='Document') 문서·취업
    option(value='Business') 비즈니스컨설팅
    option(value='Consulting') 운세·상담
    option(value='Listen') 레슨
    option(value='Custom') 기프트·커스텀
    option(value='Other') 그 외
.form-group
  label(for='event-topic') EVENT TOPIC *
  select.form-control.col-lg-3(name='event_topic' id='event_topic')
    option(value='' selected disabled) Select a topic
br
br



script(src='/javascripts/university_autocomplete.js')