if events.total <= 0 
  .alert.alert-info No events available yet
else
  //- .events
    each event in events.docs
  .margin-bottom-25 
  ul.event-list
    li.highlighted
      a(href='event-page.html')
        img(src='../images/avatar-placeholder.png', alt='')
        .event-list-content
          h4
            | HTML은 나에게 맡겨라! FrontEnd의 끝판왕!
          .event-icons
            span
              i.fa.fa-briefcase
              |  조우준
            span
              i.fa.fa-map-marker
              |  명지대학교
            span
              i.fa.fa-money
              |  10 Ƀ / 건
            span
              i.fa.fa-star-o
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
      .clearfix

+paginate(events, '/board', query)