extends ../layout

include ./includes/_paginate

block css
  
  link(rel='stylesheet', href='/stylesheets/mystyle.css')
block content
  .container
    form.form-inline.search-input-group(action='/event', method='GET')
      i.fa.fa-search.mr-2.mb-3
      input.form-control.mr-sm-2.mb-3(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

    h1.main-title 
      | Events
      if events.total > 0
        .small Total #{events.total} event(s)

    include ./includes/_list
    
      hr
      a.button.right(href='/board/new') 
        i.fa.fa-plus-circle
        |  Create Event