extends ../layout

include ./includes/_paginate

block css
  
  link(rel='stylesheet', href='/stylesheets/event-list.css')
  link(rel='stylesheet', href='/stylesheets/board.css')
block content
  .container
    h1.main-title 
      | Events
      if events.total > 0
        .top_box
          .total_event
            | Total #{events.total} event(s)
          
          //- .search
          //-   form.form-inline.search-input-group(action='/event', method='GET')
          //-     input.form-control.mr-sm-2.mb-3(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
          //-     a(href="")
          //-       i.fa.fa-search.mr-2.mb-3


    include ./includes/_list
    
      hr
      div
        +paginate(events, '/board', query)
        a.button.right(href='/board/new' style="position: relative;") 
          i.fa.fa-plus-circle
          |  Create Event